<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matenek.epidemiologyhandbookintetum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="matenek.epidemiologyhandbookintetum.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="matenek.epidemiologyhandbookintetum.MainActivity"
            android:label="Tetum Epidemiology Handbook"
            android:parentActivityName="matenek.epidemiologyhandbookintetum.SplashActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="matenek.epidemiologyhandbookintetum.SplashActivity" />


        </activity>
        <activity
            android:name="matenek.epidemiologyhandbookintetum.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:parentActivityName="matenek.epidemiologyhandbookintetum.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="matenek.epidemiologyhandbookintetum.DictionaryActivity" />

        </activity>
    </application>

</manifest>